body {
  font-family:  sans-serif, 'Montserrat';
  padding: 30px 10px 30px;
  margin: 0;
}

#main-backg {
  background-color: #eee;
  padding: 15px;
  text-align: center;
}

h1 {
  font-size: 40px;
  margin: 30px;
}

.figure {
  padding: 10px 45px;
  background-color: #fff;
  margin: auto 10px 20px;
}

.img {
  margin: 0 40px 4px;
  width: 90%;
  height: auto;
}

figcaption {
  text-align: center;
  margin: 8px auto;
}

h3 {
  margin: 5% auto 20px;
}

div.list-text {
  display: flex;
  justify-content: center;
  padding: auto;
  margin-top: 10px;
  align-items: center;
}

ul {
  text-align: left;
  width: 45%;
  line-height: 1.7rem;
  /* margin: 50px 28%; */
  margin: 0 20px;
  padding: 0px;
}

li {
  display: block;
  padding:0 10px;
  margin: 15px;
}

blockquote {
  text-align: left;
  width: 45%;
  margin: 0 28%;
}

a {
  color: rgb(81, 81, 156);
  /* text-decoration: none; */
}


